body {
  background-color: #F5F5F5;
  color: #555;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{list-style-type:none; margin:0; padding:0;}
.clear{clear:both;}
br.clear{clear:both; margin-top:-15px;}

a{
  text-decoration: none
}

hr {
    margin: 50px 0;
  }

header {
   color:white;
}

nav {
    margin-top: 0;
    background-color: black;
}  

.navbarheader {
  height:80px;
  text-align: left;
}

ul {
  text-align: left;
  display: inline-block;
  list-style: none;
  padding-left: 0;
}

.menu li {
  float: left;
  padding: .65em 1.5em;
  background-color: black;
  color: white;
  cursor: pointer;
  position: relative;
}

.menu li:hover {
  background-color:#343434;
}

.menu_right li {
    float: right;
    padding: .65em 1.5em;
    background-color: black;
    color: white;
    cursor: pointer;
    position: relative;
  }
  
  .menu_right li:hover {
    background-color:#343434;
  }
  
  .menu_right ul{
    float: right;
  }
  .menu_right {
    float: right;
  }

li ul {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 150px;
  display: none;
  z-index: 1;
}

li ul li {
  width: 100%;
}

li:hover ul {
  display: block;
}

li.has-submenu:after {
  content: "\25bc";
  font-size: .7em;
  padding-left: 5px;
  vertical-align: middle;
}

li.has-submenu:hover:after {
  content: "\25b2";
}

footer {
background-color:#202020;
font-size: 1em;
color:white;
}

.tr{
  width:100%;
}

.container{
  color:white;
  width:100%;
}

.sjtu {
  position: relative;
}
.container_1{
  text-align: center;
}

.container{
  text-align: center;
}

section {
color: black;
}

.refresh{
  right:15px;
	cursor:'pointer';
  position:fixed;
   bottom:75px;
  }

  .column{
    display:block;
    float:right;
    width:270px;
    }
  
  .column .holder, .column #featured{
    display:block;
    width:270px;
    margin-bottom:20px;
    }

    .wrapper{
      float: left ;
    }
  
.imgholder{
  display:block;
white-space:nowrap;
width:300px;
overflow:auto;
}


